html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Merriweather", "Helvetica Neue", Helvetica, serif;
  color: #333333;
  background-color: #fff;
}

h2 {
  font-family: "Sansita", sans-serif;
}

.hide {
  display: none;
}

#olapic_gallery .img {
  width: 100px;
  height: 100px;
}

.lg-outer{
    transition: background-color 600ms ease 0s;
}
